<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString"
        connectionString="Data Source=.\SQLexpress;Initial Catalog=MvcMusicStore;Integrated Security=True;Application Name=SimpleDataSample" />
    <add name="MvcMusicStoreDB"
        connectionString="Data Source=.\SQLexpress;Initial Catalog=MvcMusicStore;Integrated Security=True;Application Name=SimpleDataSample" />
  </connectionStrings>
</configuration>